* {
  font-family: 'Roboto', sans-serif;
}

header, section {
  max-width: 960px;
  margin: 0 auto;
  padding: 5px;
}

table {
  width: 100%;
  margin-top: 16px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 4px;
}

th {
  text-align: left;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}